<div class='buyers__empty-documents'>
  <div class='inline-block mt-2'>
    <%= inline_svg_tag('icon_new_document.svg', class: 'text-gray-400') %>
  </div>
  <div class='buyers__empty-documents-message'>
    No proposals
    <p>
      Get started by creating a new proposal.
    </p>
  </div>
  <div class='inline-block mt-4'>
    <%= button_to('+ New RFP', buyers_rfps_path, method: :post, local: true, data: {turbo: false}, class: 'buyers__button-new') %>
  </div>
</div>
