<div class='buyers__prompt'>
  <%= inline_svg_tag('icon_warn.svg', class: 'buyers__icon-warn') %>
  <div class='buyers__prompt-message'>You must complete your District Profile before you can download an RFP.</div>
  <%= link_to("Complete →", buyers_district_profile_path) %>
</div>
