<% content_for(:page_header) { "Request for proposal - #{@current_rfp.name}" } %>
<%= render(Buyers::RfpNavComponent.new(current_path: request.path, current_rfp: @current_rfp)) %>
<h2 class='buyers__section-head'>Delivery Schedule</h2>

<%= render partial: 'form', locals: {current_rfp: @current_rfp, delivery: @delivery} %>
