<div class='flex h-full w-full items-center justify-center'>
  <div class='max-w-lg w-full'>
    <header class='mb-6 text-center mx-auto'>
      <%= inline_svg_tag('logo.svg', class: 'mx-auto', alt: 'bid generator') %>
      <h3><%= title %></h3>
    </header>
    <%= yield %>
  </div>
</div>
