<div class='flex h-full w-full items-center justify-center'>
  <div class='w-full max-w-xs'>
    <header class='mb-6 text-center mx-auto'>
      <%= image_tag('logo', alt: 'bid generator', class: 'mx-auto') %>
      <h3><%= title %></h3>
    </header>
    <%= yield %>
  </div>
</div>
