<nav aria-label="Progress">
  <ol role="list" class="space-y-4 md:flex md:space-y-0 md:space-x-8">
    <li class="md:flex-1">
      <%= link_to edit_buyers_district_profile_path, class: classes(edit_buyers_district_profile_path) do %>
        <span class="document-nav__header">Step 1</span>
        <span class="document-nav__subheader">District</span>
      <% end %>
    </li>

    <li class="md:flex-1">
      <%= link_to edit_buyers_district_profile_contact_path, class: classes(edit_buyers_district_profile_contact_path) do %>
        <span class="document-nav__header">Step 2</span>
        <span class="document-nav__subheader">Contact</span>
      <% end %>
    </li>

    <li class="md:flex-1">
      <%= link_to edit_buyers_district_profile_procurement_path, class: classes(edit_buyers_district_profile_procurement_path) do %>
        <span class="document-nav__header">Step 3</span>
        <span class="document-nav__subheader">Procurement</span>
      <% end %>
    </li>

    <li class="md:flex-1">
      <%= link_to buyers_district_profile_locations_path, class: classes(buyers_district_profile_locations_path) do %>
        <span class="document-nav__header">Step 4</span>
        <span class="document-nav__subheader">Locations</span>
      <% end %>
    </li>
  </ol>
</nav>

