<div class='flex h-full w-full items-center justify-center'>
  <div class="text-center max-w-lg">
    <header class='mb-6 mx-auto'>
      <%= image_tag('logo', class: 'mx-auto', alt: 'bid generator') %>
    </header>

    <%= render(FlashComponent.new(flash: flash)) %>

    <div class="mt-3">
      <p><%= link_to 'create an account', new_buyer_registration_path %></p>
      <p><%= link_to 'log in', new_buyer_session_path %></p>
    </div>
  </div>
</div>
