<div class="rounded-md bg-red-50 shadow-sm border border-red-100 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <%= inline_svg_tag 'buyers/errors.svg', class: 'h-5 w-5 text-red-400', aria_hidden: true %>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-red-800"><%= t('.title', count: errors_count) %>
      </h3>
      <div class="mt-2 text-sm text-red-700">
        <ul role="list" class="list-disc pl-5 space-y-1">
          <% section_errors.each do |section, errors| %>
            <%= render(Buyers::DistrictProfiles::Errors::Section::Component.new(section: section, errors: errors)) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
