# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on: [push]

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby 3
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.0
          bundler-cache: true
      - name: Run RuboCop
        run: bin/rubocop --parallel

  license_finder:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby 3
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.0
          bundler-cache: true
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: yarn
      - name: License Finder
        run: bin/license_finder

  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
        - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    env:
      RAILS_ENV: test
      PGHOST: localhost
      PGUSER: postgres
      PG_PASSWORD: postgres

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby 3.0
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.0
          bundler-cache: true
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: yarn
      - name: Install libvips
        env:
          DEBIAN_FRONTEND: noninteractive
        run: sudo apt-get install --fix-missing -qq -o Acquire::Retries=3 libvips
      - name: Create DB
        run: |
          cp config/database.yml.github-actions config/database.yml
          bin/rails db:prepare
      - name: Assets Cache
        id: assets-cache
        uses: actions/cache@v2
        with:
          path: |
            public/assets
            public/packs-test
          key: ${{ runner.os }}-assets
      - name: Precompile Assets
        run: bundle exec rails assets:precompile
      - name: Ruby tests
        run: bin/rspec
        env:
          EXTERNAL_RESOURCES_LINK: https://www.google.com/
      - name: Archive screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: screenshots
          path: tmp/screenshots/
      - name: Javascript tests
        run: bin/teaspoon
